{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "clike",
          "c",
          "java",
          "csharp",
          "cpp"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "default", //another theme is tomorrow
        "css": true
      }
    ]
  ],
  "presets": [
    [
      "babel-preset-gatsby"
    ]
  ]
}